<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyx.ordering.pc.mapper.PcOrderMapper">

    <select id="selectSerialNumberMax" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT IFNULL(MAX(serial_number),0) FROM shop_order
    </select>

</mapper>
